footer {
  max-width: 100vw;
  background-color: #354733;
  background-image: url(/images/background-footer.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 5px solid #afb2aa;

  .content {
    max-width: 90%;
    margin: 0 auto 0 auto;
    padding: 60px 0 30px 0;

    display: flex;
    flex-direction: column;
    gap: 60px;

    &__name {
      display: flex;
      flex-direction: column;
      gap: 30px;
      justify-content: center;
      align-items: center;

      &--company {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
        h1 {
          color: #fff;
          font-size: 64px;
          font-family: EB Garamond;
          font-weight: 700;
          text-transform: capitalize;
        }

        h6 {
          color: #fff;
          font-size: 16px;
          font-family: Raleway;
          line-height: 154.5%;
        }
      }

      &--links {
        display: flex;
        flex-direction: row;
        gap: 50px;
      }
    }

    &__copyright {
      border-top: 1px solid #dddea0;
      padding-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      h6 {
        color: #fff;
        text-align: center;
        font-size: 16px;
        font-family: Raleway;
        line-height: 154.5%;
      }
    }

    @media only screen and (min-width: 992px) {
      max-width: 80%;
      display: flex;
      gap: 30px;

      &__name {
        display: flex;
        flex-direction: row;
        gap: 30px;
        justify-content: space-between;
        align-items: start;

        &--company {
          display: flex;
          align-items: start;
        }
      }

      &__copyright {
        border-top: 1px solid #dddea0;
        padding-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0;
        justify-content: space-between;
      }
    }
  }
}
